{% extends 'base.html' %}
{% block title %} Activation Email sending{% endblock %}
{% block contents %}
<div class="container " align="center">
  <br /><br />
  <div class="row col-sm-offset-3 col-sm-6">
    <fieldset>
        <div align="center" style="color:#0000FF">
        <p>
          You will receive a confirmation email shortly...
        </p>
        <p>
          If you don't receive an email, please ensure that you have entered the correct email address
        </p>
            <br /><br /><br /><br /><br />
        </div>
      </fieldset>
      </div>
    </div>
{% endblock %}
