{% extends 'base.html' %}
{% block title %}LOGIN PAGE | USER PROFILE {% endblock %}
{% block contents %}

<div class="container" style="padding:25px 0px 25px 0px" align="center">

  <div class="row col-sm-6 col-md-4">
      <h2>Login</h2>
      <form method="post">
        <fieldset>
          {% csrf_token %}
          {{ form.as_p }}
          <div class="btn-group btn-block">
                      </div>
          <button class="btn btn-block btn-info" type="submit">Login</button>
        </fieldset>
        <br />
        <br />

      </form>

</div>
</div>
{% endblock %}