{% extends 'base.html' %}
{% block title %}LOGIN PAGE | USER PROFILE {% endblock %}
{% block contents %}

<br /><br />
<div class="container" align="center">

  <div >
      <h2>Login</h2>
      <form method="post">
        <fieldset>
          {% csrf_token %}
          {{ form.as_p }}
          <div class="btn-group btn-block">
            {% load socialaccount %}
            {% providers_media_js %}
            <a href="{% provider_login_url "facebook" method="js_sdk" %}">
              <button class="btn btn-default half-width" type="button" > Facebook  </button>
            </a>
          </div>
          <button class="btn btn-info" type="submit" style="width:300px">Login</button>
        </fieldset>
        <br />
        <br />
          <a href="{% url 'password_reset' %}">Forgot Password? </a>
          <br /><br />
      </form>

</div>
</div>
{% endblock %}


<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '489688774733419',
      cookie     : true,
      xfbml      : true,
      version    : 'v2.8'
    });
    FB.AppEvents.logPageView();
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>


<script>

FB.getLoginStatus(function(response) {
  statusChangeCallback(response);
});

{
    status: 'connected',
    authResponse: {
        accessToken: '...',
        expiresIn:'...',
        signedRequest:'...',
        userID:'...'
    }
}
</script>

<fb:login-button
  scope="public_profile,email"
  onlogin="checkLoginState();">
</fb:login-button>

<script>
function checkLoginState() {
  FB.getLoginStatus(function(response) {
    statusChangeCallback(response);
  });
}</script
