
{% extends 'base.html' %}
{% block title %}REGISTRATION | USER PROFILE {% endblock %}
{% block contents %}

<style>
    .alert{
        padding-top: 5px;
        padding-bottom: 5px;
    }

</style>

<div class="container alert">

  <div class="row col-sm-6 col-md-5" style="width:450px">
      <h2>Register Your Account</h2>
      <form method="post">
        <fieldset>
          {% csrf_token %}
          {% for field in form %}
            <label>
            {{ field.label_tag }}
            {{ field }}</label>

            {% for error in field.errors %}
            <p style="color: red">{{ error }}</p>
            {% endfor %}
             {% if field.help_text %}
               <div class="alert alert-info alert-dismissable fade in ">
                 <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                  {% autoescape off %}
                    <small style="color: grey">{{ field.help_text }}</small>
                  {% endautoescape %}
               </div>
             {% endif %}
          {% endfor %}
          <div class="btn-group btn-block">
            <!--<button class="btn btn-default half-width"> Facebook </button>-->
            <!--<button class="btn btn-default half-width"> Google </button>-->
          </div>
          <button class="btn btn-block btn-info" type="submit"> Register My Account </button>
        </fieldset>
      </form>

</div>
</div>

{% endblock %}