<br /><br />
<form method="get" action="{% url 'news:search' %}/">
<div class="input-group">

    <input class="form-control input-lg" type="text" placeholder="Search" name="key"></input>
    <input type="hidden" value="1" name="p"></input>
    <div class="input-group-btn">
        <button class="btn btn-default btn-lg" type="submit">
            <i class="glyphicon glyphicon-search">
            </i>
        </button>
    </div>

</div>
</form>

				  <div class="modern">
				    <h4 class="side">Categories</h4>

						{% for list in news_list %}
					  <a href="{% url 'news:category' list.id %}"><h4><i> &nbsp;&nbsp;&nbsp;{{ list.title }}</i></h4></a> <br />
						{% endfor %}

			      </div>
				    <div class="modern">
				      <!-- <h4 class="side">Make it modern</h4> -->
					  <div id="example1">
			 	        <div style="opacity: 1; display: block;" id="owl-demo" class="owl-carousel text-center owl-theme">
					      <div class="owl-wrapper-outer"><div style="width: 4800px; left: 0px; display: block;" class="owl-wrapper"><div style="width: 300px;" class="owl-item"><div class="item">

							<img class="img-responsive lot" src="images/p1.jpg" alt="">
					     </div></div><div style="width: 300px;" class="owl-item"><div class="item">

							<img class="img-responsive lot" src="images/p2.jpg" alt="">
					    </div></div><div style="width: 300px;" class="owl-item"><div class="item">

							<img class="img-responsive lot" src="images/p33.jpg" alt="">
					    </div></div><div style="width: 300px;" class="owl-item"><div class="item">

							<img class="img-responsive lot" src="images/p1.jpg" alt="">
					</div></div><div style="width: 300px;" class="owl-item"><div class="item">

							<img class="img-responsive lot" src="images/p1.jpg" alt="">
					</div></div><div style="width: 300px;" class="owl-item"><div class="item">

							<img class="img-responsive lot" src="images/p2.jpg" alt="">
					</div></div><div style="width: 300px;" class="owl-item"><div class="item">

							<img class="img-responsive lot" src="images/p33.jpg" alt="">
					</div></div><div style="width: 300px;" class="owl-item"><div class="item">

							<img class="img-responsive lot" src="images/p1.jpg" alt="">
					</div></div></div></div>
					</div>

		<!-------------start-sign-up for News letter-------------->
						     <div class="sign_main">
							       <h4 class="side">Sign  Up  for    Newsletter</h4>
								   <div class="sign_up">
										<p class="sign">Sign up to receive our free newsletters!</p>
										<form action="{% url 'extras:subscribe' %}" method="post" id="newsletter">
											    <!-- <input class="text" placeholder="Name" type="text" name="name" > -->

                          {% csrf_token %}
                          <script>{{ msg }}</script>
                          <input class="text" placeholder="Email Address" type="email" name="email" required='required'>
                          <input value="subscribe" type="submit" id="subscribe">
										</form>

									</div>
							</div>


<script>

    $("#submit_form").click(function(){
      $(".modal-footer").html('');
      $.ajax( {url: '/extras/subscribe/',type:'post', data: $("#newsletter").serialize(),
          success: function (body,status){
                succ("STATUS : "+body);
          }});

      function succ(a){
        a = "<div class='alert alert-info'>" + a + "</div>"
        $(".modal-footer").html(a);
        setTimeout(function() {
            $(".modal-footer").html('');
          }, 3000);

      }

    });

</script>


		<!-------------//end-sign-up------------------------------>

							 <h4 class="side">Popular Posts</h4>
								<div class="edit-pics">
							      <div class="editor-pics">
										 <div class="col-md-3 item-pic">
										   <img src="images/f4.jpg" class="img-responsive" alt="">

										   </div>
											<div class="col-md-9 item-details">
												<h5 class="inner two"><a href="single.html">New iPad App to stimulate your Guitar</a></h5>
												 <div class="td-post-date two"><i class="glyphicon glyphicon-time"></i>Feb 22, 2015 <a href="#"><i class="glyphicon glyphicon-comment"></i>0 </a></div>
											</div>
											<div class="clearfix"></div>
										</div>
										<div class="editor-pics">
										 <div class="col-md-3 item-pic">
										   <img src="images/f1.jpg" class="img-responsive" alt="">

										   </div>
											<div class="col-md-9 item-details">
												<h5 class="inner two"><a href="single.html">New iPad App to stimulate your Guitar</a></h5>
												 <div class="td-post-date two"><i class="glyphicon glyphicon-time"></i>Feb 22, 2015 <a href="#"><i class="glyphicon glyphicon-comment"></i>0 </a></div>
											 </div>
											<div class="clearfix"></div>
										</div>
										<div class="editor-pics">
										 <div class="col-md-3 item-pic">
										   <img src="images/f1.jpg" class="img-responsive" alt="">

										   </div>
											<div class="col-md-9 item-details">
												<h5 class="inner two"><a href="single.html">New iPad App to stimulate your Guitar</a></h5>
												 <div class="td-post-date two"><i class="glyphicon glyphicon-time"></i>Feb 22, 2015 <a href="#"><i class="glyphicon glyphicon-comment"></i>0 </a></div>
											 </div>
											<div class="clearfix"></div>
										</div>
										<div class="editor-pics">
										 <div class="col-md-3 item-pic">
										   <img src="images/f4.jpg" class="img-responsive" alt="">

										   </div>
											<div class="col-md-9 item-details">
												<h5 class="inner two"><a href="single.html">New iPad App to stimulate your Guitar</a></h5>
												 <div class="td-post-date two"><i class="glyphicon glyphicon-time"></i>Feb 22, 2015 <a href="#"><i class="glyphicon glyphicon-comment"></i>0 </a></div>
											 </div>
											<div class="clearfix"></div>
										</div>
									</div>
							<!--//edit-pics-->
							<!--/top-news-->
								<div class="top-news">
								 <h4 class="side">Top News</h4>
							      <div class="top-inner">
								     <div class="top-text">
										 <a href="single.html"><img src="images/slp.jpg" class="img-responsive" alt=""></a>
										 <h5 class="top"><a href="single.html">POLL: HOW LONG DO YOU OFTEN SLEEP AT NIGHT</a></h5>
										 <div class="td-post-date two"><i class="glyphicon glyphicon-time"></i>Feb 22, 2015 <a href="#"><i class="glyphicon glyphicon-comment"></i>0 </a></div>
								     </div>
									  <div class="top-text two">
										 <a href="single.html"><img src="images/dest.jpg" class="img-responsive" alt=""></a>
										 <h5 class="top"><a href="single.html">YOU’VE NEVER SEEN VIVID SYDNEY QUITE LIKE THIS</a></h5>
										 <div class="td-post-date two"><i class="glyphicon glyphicon-time"></i>Feb 22, 2015 <a href="#"><i class="glyphicon glyphicon-comment"></i>0 </a></div>
								     </div>
								  </div>
	                            </div>
<!--//top-news-->
